:root {
    ---color-text-base: 75, 85, 99;
    ---color-text-quiet: 55, 65, 81;
    ---color-text-muted: 107, 114, 128;
    ---color-text-loud: 31, 41, 55;
    ---color-text-extreme: 255, 255, 255;
    ---color-text-base-inverted: 156, 163, 175;
    ---color-text-loud-inverted: 255, 255, 255;
    ---color-fill-core: 209, 213, 219;
    ---color-fill-mantle: 229, 231, 235;
    ---color-fill-crust: 249, 250, 251;
    ---color-fill-extreme: 0, 0, 0;
}

.dark {
    ---color-text-base: 209, 213, 219;
    ---color-text-quiet: 156, 163, 175;
    ---color-text-muted: 107, 114, 128;
    ---color-text-loud: 229, 231, 235;
    ---color-text-extreme: 0, 0, 0;
    ---color-text-base-inverted: 55, 65, 81;
    ---color-text-loud-inverted: 0, 0, 0;
    ---color-fill-core: 55, 65, 81;
    ---color-fill-mantle: 31, 41, 55;
    ---color-fill-crust: 17, 24, 39;
    ---color-fill-extreme: 255, 255, 255;
}